* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #191919;
	margin: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
#tagline {
	position: fixed;
	top: 5%;
	left: 5%;
	font-size: 15px;
	color: #333;
	font-weight: 300;
	transition: all 0.3s;
}

#tagline:hover {
	color: #555;
}

#tagline:hover .hash {
	color: rgba(255, 0, 0, 0.555);
}
